#podcasting a.dbx-toggle, #podcasting a.dbx-toggle-open:visited {
	height: 22px;
	width: 22px;
	background-position: 0 -3px;
}

#podcasting a.dbx-toggle-open, #podcasting a.dbx-toggle-open:visited {
	height: 22px;
	width: 22px;
	background-position: 0 -28px;
}

#podcasting fieldset {
	margin-bottom: 1em;
}

#podcasting h3 {
	padding: 3px;
	font-weight: normal;
	font-size: 13px;
}

#podcasting div {
	margin-top: .5em;
}

* html #podcasting .dbx-toggle-open, * html #podcasting .dbx-toggle-open {
	margin-right: 8px;
}