<?xml version="1.0" encoding="iso-8859-1"?>
<plugin>
	<name>test Thing</name>
	<id>test-Thing</id>
	<version>1.5</version>
	<lastupdate>1/12/06</lastupdate>
	<rating>4.5</rating>
	<expire>604800</expire>
	
	<description>A &lt;strong&gt; Simple &lt;/strong&gt; Test Plugin</description>
	
	<pluginhomepage>http://dd32.id.au/plugins/test/</pluginhomepage>
	<author>DD32</author>
	<authorhomepage>http://dd32.id.au/</authorhomepage>
	
	<download>http://dd32.id.au/plugins/test/download</download>
	
	<screenshots>
		<screenshot>
			<url>http://dd32.id.au/themes/test/preview.jpg</url>
			<description>The Screenshot</description>
		</screenshot>
	</screenshots>
	
	<requirements>
		<requirement>
			<name>WordPress</name>
			<type>WordPress</type>
			<minversion>2.2.0</minversion>
			<tested>2.5.0</tested>
		</requirement>
		<requirement>
			<name>PHP</name>
			<type>PHP</type>
			<minversion>4.4.2</minversion>
		</requirement>
		<requirement>
			<type>Plugin</type>
			<name>utw</name>
		</requirement>
	</requirements>
</plugin>